<section class="container">
    <section class="row">
        <div class="col-6">
            <div>
                <h3>Create a Gift!</h3>
                <form class="mb-4" onsubmit="app.GiftController.createGift()">
                    <label id="url-label">Image Url:</label>
                    <input required type="url" name="url">
                    <label for="">Gift Name:</label>
                    <input required type="text" name="tag">
                    <button>Create</button>
                </form>
            </div>
            <form onsubmit="app.GiftController.searchGift()">
                <label>Search Gifts by name:</label>
                <input required type="text" name="tag">
                <button>Search</button>
            </form>
            <div id="searched-gifts"></div>
        </div>
        <div id="gift-view" class="col-6"></div>
    </section>
</section>